.Bar {
  background-color: rgb(255, 255, 255);
  color: rgb(58, 58, 60);
  display: flex;
  flex-direction: column reverse;
  align-items: flex-end;
  transition: 125ms ease-in-out;
  width: 10em;
  height: 7em;
}

.Bar__Text {
  margin: 0 auto 0.25rem;
  margin-bottom: 1.4em;
  font-size: 30px;
  
}

.Bar_sorted {
  background-color: #069d06;
}

.Bar_stateD {
  background-color: #e8a43f;
}

.Bar_stateC {
  background-color: #c90c0c;
}

.Bar_stateB {
  background-color: #c90c0c;
}

.Bar_stateA {
  background-color:#e8a43f;
}
