.ColorKey {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.ColorKey__Item {
  display: inline-flex;
  align-items: center;
  margin-right: 4rem;
  padding: 4px;
}

.ColorKey__Box {
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.ColorKey__Unsorted {
  border: 1px solid rgb(58, 58, 60);
  background-color: white;
}
.ColorKey__Sorted {
  background-color:  #338a3e;
}
.ColorKey__GroupA {
  background-color: #e8a43f;
}
.ColorKey__GroupB {
  background-color: #c90c0c;
}
.ColorKey__GroupC {
  background-color : #ef5350;
  ;
}
.ColorKey__GroupD {
  background-color: #42a5f5;
}
