/* BLOCK */
.AppDrawer {
  box-sizing: border-box;
  position: absolute;
  top: 56px;
  z-index: 105;

  width: 256px;
  min-height: calc(100vh - 56px);
  padding-left: 1rem;
  display: flex;
  flex-flow: column;
  overflow: scroll;

  background-color:  rgb(99, 99, 102);                                
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.14),
  0px 4px 5px 0px  rgba(0, 0, 0, 0.14);
  ;

  transition: all 500ms ease-in-out;
}

/* ELEMENTS */
.AppDrawer__Content {
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

/* MODIFIERS */
.AppDrawer_open {
  left: 0;
  opacity: 1;
}

.AppDrawer_closed {
  left: -256px;
  opacity: 0.25;
}
