.Button {

  font-size: 1rem;
  line-height: 2.25rem;
  font-weight: 500;
  text-decoration: none;
  color: rgb(58, 58, 60);

  padding: 0 8px;
  background-color: rgba(0, 0, 0, 0);

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  height:36px;
  border: none;
  outline: none;
  font-family: Rajdhani, serif;
}

.Button:active {
  outline: none;
}

.Button:hover {
  cursor: pointer;
}

.Button:disabled {
  color:  rgba(0, 0, 0, 0.37);
  cursor: default;
}

/* Elements */
.Button__Icon {
  margin-right: 4px;
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  vertical-align: top;
}


/* Modifiers */
.Button_uppercase {
  text-transform: uppercase;
}

.Button_dense {
  height: 32px;
  font-size: 0.8125rem;
}

.Button_raised {
  color: white;
  background-color: #069d06;
  position: relative;
}

.Button_raised:hover,
.Button_raised:focus {
  z-index: 4;
  background-color: #338a3e;
}

.Button_raised:active {
  z-index: 8;
}

.Button_raised:disabled {
  z-index: 0;
}

.Button_raised:disabled {
  color:  rgba(0, 0, 0, 0.37);
}

.Button_outlined {
  border: 1px solid;
}

.Button_outlined:disabled {
  border-color:  rgba(0, 0, 0, 0.37);
}

.Button_unelevated,
.Button_unelevated:hover,
.Button_unelevated:focus,
.Button_unelevated:active {
  box-shadow: none;
}
